
<template>
    <div if:true={isLoading}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </div>
    <div class="slds-box slds-theme_default slds-m-horizontal_xx-small">
        <div if:false={isLoading} class="slds-grid slds-gutters">
            <div class="slds-col slds-size_1-of-1 slds-align_absolute-center ">
                <lightning-button icon-name="utility:download" label="Download Selected" onclick={downloadAsCsvFile} variant="brand" disabled={disableDownload}></lightning-button>
            </div>
        </div>
        <div class="slds-grid slds-gutters" if:false={isLoading}>
            <div class="slds-col slds-size_1-of-5 slds-m-left_xx-small">
                <lightning-checkbox-group name="Object Selection"
                                label="Object Selection"
                                options={allObjectNames}
                                value={selectedObjectNames}
                                onchange={handleChange}>
                </lightning-checkbox-group>
            </div>
            <div class="slds-col slds-size_4-of-5">
                <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_info slds-m-top_medium" role="alert">
                    <span class="slds-assistive-text">Notification</span>
                        <h2> <abbr class="slds-required" title="required">*</abbr>Please choose the Objects from Selection and click download to get the details in CSV format.</h2>
                </div>
                <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning slds-m-top_small" role="alert">
                    <span class="slds-assistive-text">warning</span>
                        <h2> The utility can work on 100s of objects simultaneously, but chhosing too many objects with numerous fields may lead to CPU or other governor limits.</h2>
                </div>
                <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning slds-m-top_small" role="alert">
                    <span class="slds-assistive-text">warning</span>
                        <h2> Select All is disabled to avoid hitting governor limits.</h2>
                </div>
            </div>
        </div>
    </div>
</template>